.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.direction-column {
  flex-direction: column;
}

.magic-shadow {
  position: relative;
  background: var(--heaven);
}

.magic-shadow:after {
  content: "";
  display: block;
  width: 100%;
  height: 69px;
  background-image: url("../icons/shadow.svg");
  position: absolute;
  background-position: center;
  bottom: -22px;
  background-repeat: no-repeat;
  z-index: -1;
}

.btn {
  padding: 0.5rem 0.75rem;
  border: none;

  border-radius: 4px;
  line-height: 0.8;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.5s ease;
  border: 1px solid transparent;
}
.btn-primary {
  background: var(--primary);
  color: var(--heaven);
}
.btn-primary:hover {
  background: var(--heaven);
  color: var(--primary);
  border: 1px solid var(--primary);
}

.btn-secondary {
  background: var(--secondary);
  color: var(--pure);
}

.btn-secondary:hover {
  background: transparent;
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.section-heading {
  font-family: "Raleway-bold";
  text-align: center;
  position: relative;
  margin-bottom: 4rem;
}

.section-heading:after {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  background-image: url("../icons/hr.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -40px;
}

.text-center {
  text-align: center;
}

.magic-shadow-sm {
  position: relative;
  background: var(--heaven);
}

.magic-shadow-sm:after {
  content: "";
  display: block;
  width: 100%;
  height: 69px;
  background-image: url("../icons/shadow-sm.svg");
  position: absolute;
  background-position: center;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  z-index: -1;
}

.flex-1 {
  flex: 1;
}

.text-primary {
  color: var(--primary);
}
.text-pure {
  color: var(--pure);
}
